/*
Basically a modern-meets-vintage look
lots of pastel colors
inset and outset borders
but shades of white, rather than ugly greys
bright pastel colors, color coded sections
bright gradients for title bars, like the instagram logo
sleek modern sans serif font
slim line dividers between sections
very soft drop shadows sometimes


THIS IS THE LOOK
https://youtu.be/O3KBEVVXCHc?t=217
*/

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


html {
    background-color: #f5faff;
    color: #202a33;
    width: 100vw;
    margin: 0;
    font-family: 'Gruppo', cursive;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

html::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow-x:hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.navbar {
    display: flex;
    width: 90vw;
    justify-self: flex-start;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 900;
}

.profile {
    width: 100vw;
    margin-top: 15.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilepic {
    margin: 0px;
    max-width: 75vw;
    max-height: 40vh;
}

.nameandtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nameandtitle h1 {
    margin-bottom: 1rem;
    margin-top: .5rem;
    font-size: 2.5em;
}

.nameandtitle ul {
    margin: 0px;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
}

.bio {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}