/*
Seafoam: #96ceb4
White Sand: #ffeead
Coral: #ff6f69
Sand: #ffcc5c
Darker Seafoam: #88d8b0

Shades of Teal, from lightest to darkest:
#b2d8d8
#66b2b2
#008080
#006666
#004c4c

*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Share Tech Mono', 'Courier New', Courier, monospace;
    color:#b2d8d8;
    
}

html {
    background-color: #004c4c;
}

body {
    padding-left:5%;
    padding-right:5%;
}

.sidebar {
    display: inline-block;
    padding: 0px;
    background-color: #66b2b2;
    width: 82px;
    height: 100%;
    margin-left: -5%;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.sidebutton {
    border-right: 8px solid #ffcc5c;
}

.sidebutton img {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#filler {
    /*yes I know this is kinda cheating, I just don't know a better way to do it*/
    height:16000px;
    border-right: 8px solid #ffcc5c;
}

.sidebutton:hover {
    background-color: #008080;
    border-right: 8px solid #ff6f69;
}


.title {
    display: inline-block;
    position: fixed;
    width: 100%;
    margin-left: -2%;
    margin-right: 0%;
    background-color: #ffeead;
    padding-right: 20%;
    padding-left: 10%;
    padding-top: 24px;
    padding-bottom: 24px;

}

.title h1 {
    color: #ff6f69;
    margin-left: 10%;
}

.title h3 {
    color: #ff6f69;
    margin-left: 10%;
}

@media screen and (max-width: 992px) {
.title h1 {
    color: #ff6f69;
    margin-left: 15%;
}

.title h3 {
    color: #ff6f69;
    margin-left: 15%;
}

}


@media screen and (max-width: 600px) {
    .title h1 {
        color: #ff6f69;
        margin-left: 25%;
    }
    
    .title h3 {
        color: #ff6f69;
        margin-left: 25%;
    }
    
    }
    